html,
body {
  height: 100%;
}
body {
  background-color: #101010;
  margin: 0;
  overflow: hidden;
}

div.query {
  position: absolute;
  top: 0%;
  padding-left: 20%;
  width: 100%;
  text-align: left;  
}

div.query textarea {
  height: : 36px;
  width: 55%;
}

div.switch {
  position: absolute;
  top: 0px;
  width: 20%;
  text-align: center;
}

div.sliders {
  position: absolute;
  top: 110px;
  width: 20%;
  color: white;
  text-align: center;
}

div.slider2 {
  position: absolute;
  top: 110px;
  left: 20%;
  width: 60%;
  color: white;
  text-align: center;
}

div.slider3 {
  position: absolute;
  top: 110px;
  left: 80%;
  width: 20%;
  color: white;
  text-align: center;
}

div.menu {
  position: absolute;
  top: 270px;
  width: 20%;
  text-align: center;
}

div.menu2 {
  position: absolute;
  top: 220px;
  left: 80%;
  width: 20%;
  text-align: center;
}

p {
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
}

p#title{
  background-color: rgba(225,0,0,0.5);
  width: 100%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  
}

button{
  /*width: 150px;*/
  height: 20px;
  font-size: 50%;
  /*padding: 2px;*/
  cursor: pointer;
}

.ui-button-text {
  font-size: 0.5em !important;
  padding: 0.2em !important;
}

input {
  display: none;
}
input+label,
input+label::before,
input+label::after {
  -webkit-transition: all .2s;
  transition: all .2s;
}
input+label {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}
input+label::before {
	display: block;
	content: attr(data-off-label);
	position: absolute;
	top: 4px;
	right: 5.6px;
	font-family: Arial, sans-serif;
	font-size: 10px;
}
input+label::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 1px;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50%;
}
input:checked+label::before {
	content: attr(data-on-label);
	left: 5.6px;
	right: auto;
}
input:checked+label::after {
	left: 53.2px;
	background-color: #f7f7f7;
}

#demo1+label {
	background-color: #eee;
}
#demo1+label::before {
	color: #a00;
}
#demo1:checked+label {
	background-color: #3498db;
}
#demo1:checked+label::before {
	color: #fff;
}

#demo2+label {
	background-color: #eee;
}
#demo2+label::before {
	color: #a00;
}
#demo2:checked+label {
	background-color: #3498db;
}
#demo2:checked+label::before {
	color: #fff;
}

#slider1 {
    margin:0 auto 0 auto;
    width: 120px;
}

#slider2 {
    margin:0 auto 0 auto;
    width: 190px;
}

#slider3 {
    margin:0 auto 0 auto;
    width: 120px;
}
